<div style="padding: 0px 100px 0px 100px; width: 100%; height: 80px;">
  <div style="float: left;">
    <a (click)="routeClick()">
      <h1 style="margin: 0px;">微博客</h1>
      <div style="color: black;">搬砖小宇哥</div>
    </a>
  </div>

  <div style="float: left;width: 50%;padding: 20px 100px 0px 100px;">
    <ul nz-menu nzMode="horizontal" nzTheme="light" style="height: 60px;">

      <li nz-submenu nzTitle="文章管理" nzIcon="bars">
        <ul>
          <li style="cursor: pointer;" nz-menu-item> 文章列表</li>
          <li style="cursor: pointer;" (click)="menuClick('/admin/article/edit')" nz-menu-item> 发布文章</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="分类管理" nzIcon="bars">
        <ul>
          <li style="cursor: pointer;" nz-menu-item> 文章列表</li>
          <li style="cursor: pointer;" nz-menu-item> 发布文章</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="标签管理" nzIcon="bars">
        <ul>
          <li style="cursor: pointer;" nz-menu-item> 文章列表</li>
          <li style="cursor: pointer;" nz-menu-item> 发布文章</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="用户管理" nzIcon="bars">
        <ul>
          <li style="cursor: pointer;" nz-menu-item> 文章列表</li>
          <li style="cursor: pointer;" nz-menu-item> 发布文章</li>
        </ul>
      </li>
    </ul>

  </div>
  <div style="padding: 20px;">
    <header-user></header-user>
  </div>
</div>